html {
  min-height: 100vh;
}
body {
  min-height: 100%;
  margin-top: 0;
  background-image: url(https://cdn.pixabay.com/photo/2020/05/12/15/46/iceberg-5163649_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper {
  margin: auto;
  margin-top: 200px;
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 640px) {
  .wrapper {
    max-width: 50%;
  }
}