html {
  min-height: 100vh;
}
body {
  min-height: 100%;
  margin-top: 0;
  background-image: url(https://cdn.pixabay.com/photo/2015/04/15/01/30/background-723058_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  margin: auto;
  margin-top: 200px;
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

}
.new-todo-wrapper {
  width: 100%;
  margin-bottom: 40px;
}
.new-todo-input {
  width: 80%;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #eee;
  border-radius: 7px 0 0 7px;
  color: #444;
}
.new-todo-button {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 42px;
  box-sizing: border-box;
  font-size: 16px;
  border: none;
  border-radius: 0 7px 7px 0;
  color: white;
  background: firebrick;
  cursor: pointer;
}
.single-task {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px dashed #eee;
}
.single-task span {
  font-size: 16px;
}
.remove-task {
  padding: 0 5px;
  cursor: pointer;
}
@media screen and (min-width: 640px) {
  .wrapper {
    max-width: 60%;
  }
}